.nav-link {
    position: relative;
    cursor: pointer;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

.nav-link:hover {
    color: #009e66
}

.nav-link.active {
    background-color: #009E66;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.dark .nav-link:hover.active {
    color: #f0f0f0;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 3px;
    width: 0%;
    background: #009E66;
    border-radius: 100px;
    transition: 0.5s ease;
}

.nav-link:hover::after {
    left: 0;
    width: 100%;
}

/* Style for .nav-link when active and hovered */
.active.nav-link:hover::after {
    width: 0%;
}

.nav-link-slide {
    position: relative;
    padding: 5px 10px;
    width: 100%;
    cursor: pointer;
    transition: 0.5s ease;
}

.nav-link-slide:hover {
    color: #f0f0f0;
}

.nav-link-slide:active {
    color: #f0f0f0;
    background-color: #009E66;
}

.nav-link-slide::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: #009E66;
    z-index: -1;
    transition: 0.5s ease;
}

.nav-link-slide:hover::before {
    width: 100%;
    color: #f0f0f0;
}